body {
    font-family: arial, sans-serif;
}

.page-title {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding: 1rem 0;
    color: #000000;
    font-size: 1,5rem;
    font-family: impact, fantasy;
    border-radius: 4px;
}

.page-title h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}




.toolbar {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color:rgb(240, 240, 240);
    padding: 1rem 1rem;
    color: #ff0048;
}


#downloadbutton{
    background-color: #70e40bd2;
}

#downloadbutton:hover{
    background-color: #70e40b;
    color: #fff;
}
.menubutton{
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: none;
    background-color: rgb(240, 240, 240);
    color: #212121;
    transform: scale(1); 
    
}

.menubutton:active {
    background-color: #79a4c1;
}

.menubutton:hover {
    background-color: rgb(250, 250, 250);
    color: #000000;
    transform: scale(1.05);

}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(240, 240, 240);
    min-width: 160px;
    
    padding: 8px 0;
    z-index: 1;
}

.dropdown-content button {
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
    background-color: rgb(240, 240, 240) ;
    color: #212121;
    
}

.dropdown-content button:hover {
    background-color: #aedefe;
    color: #000000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content #pointer-dropdown{
    display: block;
}

.logo {
    width: 70px; 
    height: auto; 
    margin-right: 10px; 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 60px;
    font-size: 14px;
    color: #444;
    font-family: Arial, sans-serif;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 9999;
  }
  
  .popup input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .popup button {
    margin-right: 10px;
  }


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 9999;
    max-height: 90vh;
    overflow-y: auto;
  }
  

img.preview-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
    border: 1px solid #ddd; 
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .image-preview {
    max-height: calc(100vh - 270px); 
    overflow-y: auto; 
    
    background-color:rgb(255, 255, 255);
   

}
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
#studio-editor{
    height: 100vh;
    width: 150vh;
    margin: auto;
    
    
}

#drop-zone{
    background-color:rgb(240, 240, 240);
    position: relative;

}



  
  #dropdiv{
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(90, 255, 93, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 30px;
    
  }